@font-face {
  font-family: Roboto-Regular;
  src: url("font/Roboto-Regular.ttf");
}

body {
  background: rgb(13, 7, 74);
  background: linear-gradient(
    90deg,
    rgba(13, 7, 74, 1) 0%,
    rgba(64, 21, 133, 1) 67%
  );
  margin: 0px;
}

h1 {
  color: #244d8d;
  font-family: Roboto-Regular;
}

h2{
  color: #4280b9;
  font-family: Roboto-Regular;
}

h3 {
  color: #4280b9;
  font-family: Roboto-Regular;
}

h4{
  color: #4280b9;
  font-family: Roboto-Regular;
}


ul {
  list-style-type: none;
  margin: 0;
  padding-left: 5%;
  overflow: hidden;
}

li {
  float: left;
}

li h1 {
  margin-right: 50px;
  color: #eeeeee;
}

li a {
  display: block;
  color: #4280b9;
  text-align: center;
  padding: 30px 32px;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  font-family: Roboto-Regular;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #eeeeee;
}

.msg {
  font-size: 15px;
  font-family: Roboto-Regular;
  color: #e00000;
  padding-left: 3%;
}

.cadastroForm input{
  display: block;
  width: 65%;
  height: 32px;
  margin-bottom: 1.5%;
  background-color: #2d1b70;
  border-style: solid;
  border-color: #2c2b77;
  border-radius: 20px;
  color: #eeeeee;
  padding-left: 2%;
  font-weight: bold;
  font-family: Roboto-Regular;
  font-size: 10px;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.cadastroForm input[type="submit"] {
  width: 20%;
  padding-left: 0.2%;
}

.cadastroForm input:hover,input:focus{
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  border-color: white;
}


.navbar {
  padding-top: 0.5%;
  width: 100%;
}

.left-container {
  float: left;
  width: 40%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
  margin: 0px;
}

.right-container {
  float: right;
  width: 40%;
  margin: 0px;
  padding-top: 10%;
}

img {
  width: 45%;
  height: auto;
}

.tela-inicial{
	border-style:solid;
	border-radius:10px;
	border-width:3px;
	border-color: white;
}

.usuario{
	border-bottom-color: white;
	border-style: solid;
	border-width: 0 0 2px 0;
}

.contato{
	border-bottom-color: white;
	border-style: solid;
	border-width: 0 0 2px 0;
}
.contato h3, .contato p{
	padding-left:12%;
}

.exemplo-conversa{
	border-style:solid;
	border-radius:10px;
	border-width:3px;
	border-color: white;
	padding-bottom:1%;

}
.exemplo-conversa div{
	margin-top:1%;
	border-style:solid;
	border-radius:20px;
	border-width:1px;
	border-color: white;
}

p{
	color: white;
	font-family: Roboto-Regular;
}

.pUsuario{
	color: #E0FFFF;
	font-family: Roboto-Regular;
}

.pDestinatario{
	color: #FAFAD2;
	font-family: Roboto-Regular;
}
